name: Node CI

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Use Yarn
        uses: borales/actions-yarn@v2.3.0
        with:
          cmd: install
      - name: Test(pull request)
        if: github.event_name == 'pull_request'
        run: yarn test
        env:
          CI: true
      - name: Test(Mergh master branch) & Publish code coverage
        if: github.event_name == 'push'
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: yarn coverage
          debug: true
